# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# ides
.vscode/
.idea/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/app/node_modules
/frontend/app/.pnp
/frontend/app/.pnp.js

# testing
/frontend/app/coverage

# production
/frontend/app/build

# misc
/frontend/app/.DS_Store
/frontend/app/.env.local
/frontend/app/.env.development.local
/frontend/app/.env.test.local
/frontend/app/.env.production.local

/frontend/app/npm-debug.log*
/frontend/app/yarn-debug.log*
/frontend/app/yarn-error.log*
